---
layout: page
---

<div id="schedule">
  <!--
  <h2 id="week_schedule"> Weekly Schedule Overview</h2>
    <table style='width:100%;'>
    <colgroup>
    <col style="background-color:#e6c39d;">
    <col span="6" style="background-color: #c3ced0">
    </colgroup>
    <thead>
    <tr style="text-align:center;">
      <td> old unit </td><td colspan="6"> new unit </td>
    </tr>
      <th> Mon </th> <th> Tue </th> <th> Wed </th> <th> Thu </th> <th> Fri </th><th>Sat</th><th>Sun</th>
    </thead>
    <tbody>
      <tr style="text-align:center;">
        <td> </td><td> <b>2:29pm</b> <br>Pre-reading and quiz due </td><td> </td><td> <b>2:29pm</b> <br>Pre-reading and quiz due </td><td></td><td></td><td></td>
      </tr>
      <tr style="text-align:center;">
        <td> <b>11:59pm</b> Homework due </td><td> <b>2:30-4pm</b> Lab <br>(release of homework)</td><td> </td><td> <b>2:30-4:00pm</b> Lecture </td><td></td><td></td><td></td>
      </tr>
      <tr style="text-align:center;">
        <td colspan="1" style="background-color:white"></td><td colspan="4"> Studios </td> <td colspan="2" style="background-color:white">
      </tr>
    </tbody>
    </table>

    -->

  <h2 id="class_schedule">Semester Schedule</h2>

  <!-- <iframe src=
"https://docs.google.com/spreadsheets/d/e/2PACX-1vSLUy8PdeYt_U08wjjEThGqs_nachV7ceOJmcTtbWWDW_JiSZfpbr2q7Fsc4yAelDcnbVUUjta1A2lJ/pubhtml?gid=65899131&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="990"></iframe> -->
  <!-- https://docs.google.com/spreadsheets/d/13Y8MgivlWaltEK8bbkT7zcFN__Qtis4V3NrvN41M3Ws/edit#gid=0 -->
  <!-- https://docs.google.com/spreadsheets/d/13Y8MgivlWaltEK8bbkT7zcFN__Qtis4V3NrvN41M3Ws/edit?usp=sharing -->
  <iframe
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSg_z6nmrvjE_k_fBe6dl59hKbP3sXvY2FBR6MwXjbK03OTKFMyDMX9YQkhHkahAaf2hg5dK7-fbE66/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
    width="100%"
    height="990"
  >
  </iframe>

  <!-- <h2 id="lab_oh_schedule">Weekly Schedule (Lecture, Lab, Office Hours)</h2>

  <iframe
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT-BFR1Dg-u4Fpyoh8e2pVMs26a-uQMuFbhQZ1gCQvz2ZIIYo7ZLdjatzKw57RdQr5DWj_O0L5foE5W/pubhtml?gid=65899131&amp;single=true&amp;widget=true&amp;headers=false"
    width="100%"
    height="650"
  ></iframe> -->
</div>
